<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Intelligent Project Management System</title>
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
    <link href="/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <link href="/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <link href="/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="../vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <link href="/vendors/custom.min.css" rel="stylesheet">
    <style>
       body, .nav_title,.left_col,table.jambo_table thead{background:  #004ec1}
         .nav.side-menu>li>a, .nav.child_menu>li>a{color:#fff}
        .nav.side-menu>li.current-page, .nav.side-menu>li.active{border-right:5px solid #267dff}
        .nav.side-menu>li.active>a{background:#00388c }
        .nav-sm ul.nav.child_menu{background:#003f9d }
       .bg-green{border:1px solid #004ec1 !important;background:#004ec1 !important}
    </style>
</head>

<body class="nav-md">
<div id="pmo">
<div class="container body" >
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <!--<router-link to="/" class="site_title"><i class="fa fa-paw"></i> <span>iPMS</span></router-link>-->
                    <router-link to="/" class="site_title" style="padding:0"><img src="/images/logo.png"/></router-link>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_pic">
                        <% if(user && user.avatar) { %>
                           <img src="<%= user.avatar%>" alt="..." class="img-circle profile_img">
                        <%}else{%>
                          <img src="images/avatar.png" alt="..." class="img-circle profile_img">
                        <% } %>

                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>
                        <h2><%=user.userId%>
                        </h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br />

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <% for (var i=0;i<gs.length;i++){%>
                    <div class="menu_section">
                        <h3><%=gs[i].name%></h3>
                        <% for (var j=0;j<gs[i].childs.length;j++){%>
                        <ul class="nav side-menu">
                            <li><a><i class="fa fa-gears"></i><%=gs[i].childs[j].name%><span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <% for (var m=0;m<gs[i].childs[j].childs.length;m++){%>
                                        <li><router-link to="<%=gs[i].childs[j].childs[m].link%>"><%=gs[i].childs[j].childs[m].name%></router-link></li>
                                    <%}%>
                                </ul>
                            </li>
                        </ul>
                        <%}%>
                    </div>
                    <%}%>
                    <!--
                    <div class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li><a><i class="fa fa-gears"></i>Setting<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><router-link to="/setting/menuGroupList">MenuGroup</router-link></li>
                                    <li><router-link to="/setting/menuList">Menu</router-link></li>
                                    <li><router-link to="/setting/actionList">Action</router-link></li>
                                    <li><router-link to="/setting/currencyList">Currency</router-link></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav side-menu">
                            <li><a><i class="fa fa-archive"></i>HR<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><router-link to="/setting/roleList">Role</router-link></li>
                                    <li><router-link to="/setting/positionList">Position</router-link></li>
                                    <li><router-link to="/project/personList">Consultant</router-link></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="menu_section">
                        <h3>Scope</h3>
                        <ul class="nav side-menu">
                            <li><a><i class="fa fa-calendar"></i>Time<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><router-link to="/setting/milestoneTypeSet">MilestoneType</router-link></li>
                                    <li><router-link to="/setting/milestoneSet">Milestone</router-link></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav side-menu">
                            <li><a><i class="fa fa-cubes"></i> Scope<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><router-link to="/project/contractList">Contract</router-link></li>
                                    <li><router-link to="/project/projectList">Project</router-link></li>

                                </ul>
                            </li>

                        </ul>
                    </div>
                    <div class="menu_section">
                        <h3>report</h3>
                        <ul class="nav side-menu">
                            <li><a><i class="fa fa-bar-chart-o"></i> Report<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><router-link to="/project/recordList">Record</router-link></li>
                                    <li><router-link to="/rpt/milestoneRecord">MilestoneRecord</router-link></li>
                                    <li><router-link to="/rpt/cashAccrualReport">Cash-in & Accrual Report</router-link></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                    -->
                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Settings">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Lock">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Logout">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                   System
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="javascript:;"> Profile</a></li>
                                <li>
                                        <router-link tag="span" to="/setting/changepwd">
                                            <a style="color:#5A738E">Password</a>
                                        </router-link>
                                        <!--<span class="badge bg-red pull-right">50%</span>-->
                                </li>
                                <li><a href="javascript:;">Help</a></li>
                                <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                            </ul>
                        </li>

                        <li role="presentation" class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-envelope-o"></i>
                                <!--<span class="badge bg-green">6</span>-->
                            </a>
                            <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                <li>
                                    <a>
                                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <div class="text-center">
                                        <a>
                                            <strong>See All Alerts</strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main" >
            <transition >
                 <router-view></router-view>
             </transition>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer style="margin:0">
            <div class="pull-right">
                Consultant Management by <a href="https://www.yonyou.com.hk">Yonyou</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>
</div>
<script src="/vendors/jquery/dist/jquery.min.js"></script>
<script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<script src="/vendors/iCheck/icheck.min.js"></script>
<script src="/vendors/pnotify/dist/pnotify.js"></script>
<script src="/vendors/parsleyjs/dist/parsley.min.js"></script>
<script src="/vendors/select2/dist/js/select2.full.js"></script>
<script src="/js/dist/bootbox.min.js"></script>
<script src="/vendors/moment/min/moment.min.js"></script>
<script src="/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/vendors/switchery/dist/switchery.min.js"></script>
<script src="/js/dist/engine.js"></script>
<script src="/js/dist/main.js"></script>
</body>
</html>
